.App {
  text-align: center;
  background: linear-gradient(45deg, #3e1e02, #b08915be, #9baf199a, #535705c8);
  height: 1000px;
 
}

h1 {
  color: rgb(244, 244, 92);
  
  align-content: center;
  justify-content: center;
}



