/* Certifications.css */
.certifications {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px;
    justify-items: center;
    background: inherit;
    
  }
  
  .cert-card {
    background-color:rgba(3, 3, 3, 0.832);
    border: 1px solid #cbb001;
    border-radius: 1px;
    box-shadow: 0 4px 6px rgb(228, 210, 19);
    padding: 10px;
    text-align: start;
    width:200px;
    transition: transform 0.3s;
    height:100px;
    color: #dbbb2c;
    
  }
  
  .cert-card:hover {
    transform: translateY(-10px);
    background: linear-gradient(45deg, #3e1e02, #b08915be, #97ae079a, #edf904c8);
  }
  
  .cert-icon {
    font-size: 2em;
    margin-bottom: 1px;
    color: #ac9d2aa0; /* Change the color as needed */
  }
  
  .cert-card h3 {
    font-size: 0.8em;
    margin: 10px 0;
  }
  
  .cert-card p {
    font-size: 10px;
    color: #bc8609;
  }
  
  /* Responsive design */
@media (max-width: 900px) {
    .certifications {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 600px) {
    .certifications {
      grid-template-columns: 1fr;
    }
  }