/* Navbar.css (or add to your existing CSS file) */

header {
    background-color: #000; /* Black background */
    padding: 10px 0; /* Padding for top and bottom */
  }
  
  .navbar {
    display: flex;
    justify-content:center;
  }


  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    
  }
  
  .navbar li {
    margin: 0 10px;
    color: #d6b80a;
    font-size: 10px;
    font-weight: bold;
  }
  
  .navbar a {
    color: #ffd700; /* Gold text color */
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
  }
  
  .navbar a:hover {
    color: #ec8f1f; /* White text color on hover */
  }
  
  /* Media query for smaller screens */
@media (max-width: 800px) {
 
  .navbar a {
    color: #ffd700; /* Gold text color */
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
  }


}